body{
    background-color: #fcfcfc;
}
.container{
    margin-top: 1.5%;
    height: 100vh;
}

.header-text{
    position: relative;
    top: 40%;
    left: 4%;
    letter-spacing: 0.2em;
}

.form-label{
    font-family: 'Doris-Medium';
}

.airline_name{
    margin-top: 3%;
    font-family: 'Doris-Medium'; 
}

.num_trips{
    font-family: 'Doris-Bold';
    text-align: center;
    font-size: 300%;
    margin-top: 3%;
}

.vertical-border{
    margin-top: 4%;
    margin-bottom: 4%;
    border-bottom: 1px solid rgb(171, 171, 171);
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.homepage-metadata{
    font-family: 'Doris-Light';
    text-align: center;
    margin-top:3%;
    margin-bottom:6%;
}



.main-metatext{
    font-family: 'Doris-Light';
    font-size: 60%;
    color: white;

}

.toolbar{
    height:5vh;
    margin-bottom: 5px;
}

.button-toolbar{
    outline: none;
    padding: 10px;
    border: none;
    float:right;
    margin-right: 5px;
    font-family: 'Doris-Light';
    margin-bottom: 10px;
    transition: background-color 0.2s;
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/home-background.jpg');
    background-position: center;
    height: 40vh;
    margin-bottom: 3%;
}

.header-spending{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background-spending.jpg') !important;
}

.header-purchase{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background-purchase.jpg') !important;
    background-position: center;
}

.header-flights{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background-flights.jpg') !important;
    background-position: center;
}

.button-danger{
    background-color: #d04839 !important;
}

.button-danger:hover{
    background-color: #8f3328 !important;
}

.modal-title, .modal-body{
    font-family: 'Doris-light' !important;
}

.main-title{
    font-family: ''; 
    text-align: left;
    font-family: 'Doris-Medium';
    color: white;
    margin-bottom: 35px;
}

.button-container{
    margin-top: 15%;
}

.form-label{
    font-size: 120% !important;
}

.button-primary, .button-secondary{
    border-radius: 10px;
    font-family: 'Doris-Light';
    outline: none;
    border: none;
    color: white;
    padding:10px;
    transition: 0.2s background-color;
    width: 100%;
}

.button-primary{
    background-color: #269cbd;

}

.button-secondary{
    background-color: rgb(38, 164, 109);
}



.button-primary:hover{
    background-color: #1b6174;

}

.button-secondary:hover{
    background-color: rgb(32, 118, 102);
}


.secondary-title{
    font-family: 'Doris-Medium';
    text-align: center;
}

.search-flights-container{
    border: 1px solid rgb(176, 176, 176);
    margin-top: 3%;
    border-radius: 10px;
    padding: 13px;
}

.login-signup-container{
    background-color: white;
    margin-top: 4%;
}


.accordion, .accordion-body{
    font-family: 'Doris-Medium' !important
}

.green-title{
    color: rgb(38, 164, 109);
    margin-bottom: 10px;
}
.orange-title{
    color: #269cbd;
    margin-bottom: 10px;
}

.form-container{
    border: 1px solid rgb(176, 176, 176); 
    border-radius: 10px;
    padding: 10px;
}

input{
    width: 100% !important;
    margin-bottom: 10px;
}
.input-group{
    flex: 1;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

#upcoming_flights, #past_flights{
    font-family: 'Doris-Medium';
    color: black !important;
}

.rating-stars{
    margin-top: 4%;
    text-align: right !important;
    font-size: 130%;
}

#accordion-button{
    text-align: center;
    text-decoration: none !important;
    color: black !important;
    font-family: 'Doris-Medium' !important;
}

.checked{
    color: orange !important;
}

@font-face{
    font-family: 'Doris-Bold';
    src: url('../fonts/Dosis/static/Dosis-Bold.ttf');
}

@font-face{
    font-family: 'Doris-Medium';
    src: url('../fonts/Dosis/static/Dosis-Medium.ttf')
}
@font-face{
    font-family: 'Doris-Light';
    src: url('../fonts/Dosis/static/Dosis-Light.ttf')
}


