.search-header{
    margin-top: 3%
}

.search-results{
    margin-bottom: 3%;
}


.header-search{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/background-search.jpg') !important;
    background-position: center;
}

.flight{
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid rgb(176, 176, 176);
    padding: 20px; 
    border-radius: 10px;
}

.airline_name{
    margin-top: 3%;
    font-family: 'Doris-Medium'; 
}

.departure_time, .arrival_time{
    font-family: 'Doris-Bold';
}

.arrival_time{
    text-align: right;
}

.horizontal-line{
    border: 1px solid rgb(148, 148, 148);
    margin-top: 3%;
}

.flight_num, .arrival_date, .departure_date, .arrival_airport_code, .departure_airport_code{
    font-family: 'Doris-Light'
}



.departure_airport_code{
    text-align: right;
}

.base_price{
    margin-top: 2%;
    color: rgb(38, 164, 109);
    font-family: 'Doris-Medium';
    text-align: right;
}

.remaining_seats{
    font-family:'Doris-Light';
    text-align: right;
}

.arrival_date{
    text-align: right;
}