{% extends "layouts/base.html" %}
{% block head %}
<link rel = "stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'stylesheets/searchResults.css')}}" />
<link rel = "stylesheet" href = " {{ url_for('static', filename = 'stylesheets/purchaseTickets.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<script src = "js/main.js"></script>
{% endblock %}
{% block body %}
<div class = "container">
	{% include "layouts/toolbar-staff.html" %}
	<div class = "header">
		<div class = "header-text">
			<h1 class = "main-title">Add Phone Number</h1>
		</div>
	</div>

	<form action="/post_phone" method="POST">
		Phone Number: <input type="number" name = "phone_number" placeholder="10 digit phone number" required/> </br>
		<button class = "button-primary" type = "submit">Add</button>
	</form>



	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	<div class = "table">
		<table>
			<th>Phone Number</th>
			{% if number|length == 1 %}
			<tr>
				<td>{{number['phone_number']}}</td>
			</tr>
			{% else %}
				{% for line in number %}
				<tr>
					<td>{{line['phone_number']}}</td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
	

{%endblock%}