<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{airline_name}}</h1>
	Airplane ID: <input type="text" name = "airplane_ID" placeholder="airplane_ID" required/> </br>
	Number of Seats: <input type="number" name = "num_of_seats" placeholder="num_of_seats" required/> </br>
	<input type="submit" value = "Add Airplane" />
</form>

<a href="/staff_home"><button> Back </button></a>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline Name</th>
	<th>Airplane ID</th>
	<th>Number of Seats</th>

{% for line in posts %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['airplane_ID']}}</td>
		<td>{{line['num_of_seats']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>