<html>
<body>
<form action="/post_airplane" method="POST">
	Airplane ID: <input type="text" name = "ID" placeholder="ID" required/> </br>
	Number of Seats: <input type="number" name = "num_seats" placeholder="numseats" required/> </br>
    Manufacturer: <input type="text" name = "manufacturer" placeholder="manufacturer" required/> </br>
    Age: <input type="number" name = "age" placeholder="age" required/> </br>
	<input type="submit" value = "Submit" />
</form>



<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
    <th>Airplane ID</th>
	<th>Airline Name</th>
	<th>Number of Seats</th>
    <th>Manufacturer</th>
    <th>Age</th>

{% for line in data %}
	<tr>
        <td>{{line['ID']}}</td>
		<td>{{line['airline_name']}}</td>
		<td>{{line['num_seats']}}</td>
        <td>{{line['manufacturer']}}</td>
        <td>{{line['age']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/staffHomePage"><button> Back </button></a>
<a href="/logout">Logout</a>

</body>
</html>