<html>
<body>
<form action="/post_airport" method="POST">
	Airport Code: <input type="text" name = "code" placeholder="code" required/> </br>
	Airport Name: <input type="text" name = "name" placeholder="name" required/> </br>
	Airport City: <input type="text" name = "city" placeholder="city" required/> </br>
	Airport Country: <input type="text" name = "country" placeholder="country" required/> </br>
	Airport Type: <input type="text" name = "airport_type" placeholder="airport_type" required/> </br>
	<input type="submit" value = Submit />

</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airport Code</th>
	<th>Airport Name</th>
	<th>Airport City</th>
	<th>Airport Country</th>
	<th>Airport Type</th>

{% for line in data %}
	<tr>
		<td>{{line['code']}}</td>
		<td>{{line['name']}}</td>
		<td>{{line['city']}}</td>
		<td>{{line['country']}}</td>
		<td>{{line['airport_type']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/staffHomePage"><button> Back </button></a>
<a href="/logout">Logout</a>

</body>
</html>