{% extends "layouts/base.html" %}

{% block head %}
<link rel = "stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'stylesheets/searchResults.css')}}" />
<script src = "js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Flight Application {% endblock %}
{% block body %}
    <div class = "container">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
                {{error}}
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            {% endif %}

            {% if message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>
                    {{message}}
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                {% endif %}

            {% include "layouts/toolbar.html" %}



            
        <div class = "header header-search">
            <div class = "header-text">
                <h1 class = "main-title">Your Search Results<h1>
            </div>
        </div>

        <div class = "search-results">
            <div class = "search-header">
                <h1 class = "airline_name">Trip from {{cities[0]}} to {{cities[1]}}</h1>
                {% if round_trip %}
                    <h3 class = "airline_name">Choose Your Departing Flight</h3>
                    {% if not session['email'] %}
                    <p>You will only be able to view flights. Please log in and search again to purchase tickets.</p>
                    {% else %}
                    <p>You will be able to select a return flight once you select a departure flight.</p>
                    {% endif %}
                {% else %}
                <h3 class = "airline_name">Choose Your Flight</h3>
                    {% if not session['email'] %}
                    <p>You will only be able to view flights. Please log in and search again to purchase tickets.</p>
                    {% endif %}
                {% endif %}
            </div>
            {% for flight in flights['departure'] %}
                <div class = "flight">
                    <div class = "airport-graphics">
                        <div class = "row g-2">
                            <div class = "col-3">
                                <h2 class = "departure_time">{{(flight['departure_time'])}}</h2>
                                <h3 class = "arrival_airport_code">{{flight['departure_airport_code']}}</h3>
                                <p class = "departure_date">{{flight['departure_datetime'][:11]}}</p>

                            </div>
                            <div class = "col-6">
                                <div class = "horizontal-line"></div>
                            </div> 
                            <div class = "col-3">
                                <h2 class = "arrival_time">{{flight['arrival_time']}}</h2>
                                <h3 class = "departure_airport_code">{{flight['arrival_airport_code']}}</h3>
                                <p class = "arrival_date">{{flight['arrival_datetime'][:11]}}</p>

                            </div>
                        </div>
                    </div>
                    <div class = "row g-2">
                        <div class = "col-6">
                            <h2 class = "airline_name">{{flight['airline_name']}}</h2>
                            <h3 class = "flight_num">{{flight['flight_num']}}</h3>
                        </div>
                        <div class = "col-6">
                            <h2 class = "base_price">${{flight['base_price']}}</h2>
                            <p class = "remaining_seats">{{flight['remaining_tickets']}} seats remaining!</p>
                            <!-- If user is logged in and is looking for a round-trip -->
                            {% if round_trip and session['email'] %}
                            <form action = "{{ url_for('selectReturnFlight', 
                                                        city1 = cities[0], 
                                                        city2 = cities[1], 
                                                        return_date = arrival_date, 
                                                        selected_departure_flight_id = flight['flight_num'],
                                                        flight1_price = flight['base_price']
                                                        )}}
                                                        " method = "POST">
                                <button class = "button-primary" style = "width:30%;float:right;" type = "submit">Select this flight</button>
                            </form>
                            <!--If user is logged in and is not looking for a round trip -->
                            {% elif not round_trip and session['email'] %}
                            <form action = "{{ url_for('purchaseTickets', 
                                              departure_flight_id = flight['flight_num'],
                                              flight1_price=flight['base_price']
                                              )
                                            }}" method = "POST">
                                <button class = "button-primary" style = "width:30%; float:right;" type = "submit">Purchase this flight</button>
                            </form>
                            <!--If user is looking for a round-trip but not logged in -->
                            {% elif round_trip and not session['email'] %}
                            <form action = "{{ url_for('selectReturnFlight', 
                            city1 = cities[0], 
                            city2 = cities[1], 
                            return_date = arrival_date, 
                            flight1_price = flight['base_price'],
                            selected_departure_flight_id = flight['flight_num'])}}" method = "POST">
                            <button class = "button-primary" style = "width: 30%; float:right;" type = "submit">View Return Flights</button>
                            </form>
                            <!--If user is not logged in and is not looking for a round trip-->
                            {%else%}
                        
                            {% endif %}

                        </div>
                    </div>
                  
                </div>
            {% endfor %}

            </div>

           
       
    </div>
{% endblock %}