<html>

<head>
</head>
<body>
	<h1>Welcome  {{ session.username }}</h1>
{% if show_button %}
	<a href="/search_flight_staff"><button>Search Flight</button></a>
	<a href="/create_new_flights"><button>Create New Flights</button></a>
	 <a href="/add_airplane"><button>Add Airplane</button></a>
	<a href="/add_airport"><button>Add Airport</button></a>
	<a href="/view_report"><button>Ticket Report</button></a>
	<br> </br>
	<!-- <a href="/staff_flights"><button>View My Flight</button></a> -->
	<!-- <a href="/search_flight"><button> Find Flights</button></a> -->
{% else %}
<a href="/staffHomePage"><button> Back </button></a>
{% endif %}

<!--
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
-->

{% include 'table.html' %}


<br> </br>
{% if show_button %}
	<a href="/change_status"><button>Change Status</button></a>
	<a href="/view_frequent_customers"><button>View Frequent Customers</button></a>
	<a href="/view_flight_ratings"><button>View Flight Ratings</button></a>
	<a href="/view_total_earned_revenue"><button>View Total Earned Revenue</button></a>
    <a href="/view_earned_revenue_by_class"><button>View Earned Revenue By Class</button></a>
	<a href="/view_top_destinations"><button>View Top Destinations</button></a>
{% endif %}
<br> </br>

{% if show_button %}
	<a href="/logout">Logout</a>
{% endif %}

</body>


</html>