<html>
<body>
	<h1>Welcome  {{ username }}</h1>
	<a href="/view_flight_staff"><button>View Flight</button></a>
	<a href="/view_flight_ratings"><button>View Flight Ratings</button></a>
	<a href="/view_report"><button>View Report</button></a>
	<a href="/create_new_flights"><button>Create New Flights</button></a>
	<a href="/add_airplane"><button>Add Airplane</button></a>
	<a href="/add_airport"><button>Add Airport</button></a>
	<a href="/change_status"><button>Change Status</button></a>
	<br> </br>



<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>


{% include 'flight_info.html' %}


<br> </br>
	<a href="/view_frequent_customers"><button>View Frequent Customers</button></a>	
	<a href="/view_earned_revenue"><button>View Total Earned Revenue</button></a>
    <a href="/view_earned_revenue_by_class"><button>View Earned Revenue By Class</button></a>
	<a href="/view_top_destinations"><button>View Top Destinations</button></a>
<br> </br>

<table>
    <th>Phone Number</th>
	{% if number|length == 1 %}
	<tr>
		<td>{{number['phone_number']}}</td>
	</tr>
	{% else %}
		{% for line in number %}
		<tr>
			<td>{{line['phone_number']}}</td>
		</tr>
		{% endfor %}
	{% endif %}
</table>
<a href="/add_phone"><button>Add Phone Number</button></a>

<p></p>

<a href="/staffHomePage"><button> Home </button></a>
<a href="/logout">Logout</a>



</body>
</html>