{% extends "layouts/base.html" %}
{% block head %}
<link rel = "stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'stylesheets/searchResults.css')}}" />
<link rel = "stylesheet" href = " {{ url_for('static', filename = 'stylesheets/purchaseTickets.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


<script src = "js/main.js"></script>
{% endblock %}
{% block body %}
<div class = "container">
	{% include "layouts/toolbar-staff.html" %}
	<div class = "header">
		<div class = "header-text">
			<h1 class = "main-title">View Earned Revenue By Class</h1>
		</div>
	</div>


<style type="text/css">
		table, th, td{
			border: 0.5px solid rgb(189, 188, 188);
			font-family: 'Doris-Medium';
			padding:15px;
			width:50%;
			text-align: center;
		}
		input{
			font-family: 'Doris-Medium';
			padding:7px;
			
		}
		.table{
			display: flex;
			justify-content: center;
		}
</style>


{% if first %}
	<div class = "table">
		<table>
			<th>First Class Revenue</th>
	
			{% for line in first %}
			<tr>
				<td>{{first['sum(ticket.sold_price)']}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endif %}

{% if business %}
	<div class = "table">
		<table>
			<th>Business Class Revenue</th>
	
			{% for line in business %}
			<tr>
				<td>{{business['sum(ticket.sold_price)']}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endif %}

{% if economy %}
	<div class = "table">
		<table>
			<th>Economy Class Revenue</th>
	
			{% for line in economy %}
			<tr>
				<td>{{economy['sum(ticket.sold_price)']}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endif %}

{% if not first and not business and not economy  %}
	<h1>No Revenue!</h1>
{% endif %}

{% endblock %}